@import "./settings/__settings";

.heroSection {
  margin-top: 0;
}

.heroContainer {
  text-align: center;
}

.heroImage {
  margin-bottom: 1em;
}

.title {
  color: $color-primary;
  line-height: 1.15;
  font-size: 4rem;
  margin: .5em 0 0;
}

.title,
.description {
  text-align: center;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}

.homeGrid {
  margin-right: auto;
  margin-left: auto;
}