.footer {

  background-color: #f6f9f9;


}

.footerSection {
  margin: 0;
}

.footerContainer {

  display: flex;
  justify-content: center;
  align-items: center;

  a {
    display: flex;
    justify-content: center;
    align-items: center;
  }

}

.footerLogo {
  width: auto;
  height: 1.4em;
  margin-left: .5em;
  transform: translateY(2px);
}