@import '@styles/settings/__settings';

.nav {}

.navSection {
  margin: 0;
}

.navContainer {
  display: flex;
  justify-content: space-between;
}

.navLogo {
  color: $color-primary;
  font-size: 1.8em;
  font-weight: bold;
}

.navGithub {
  font-size: 1.5em;
}